<h3>Carrinho de Compras</h3>

<p>
  <a routerLink="/shipping">Preços de Entrega</a>
</p>

<div class="cart-item" *ngFor="let item of items" style="width: 100%;">
    <div style="width: 30%;">
      <img src="{{item.img}}" alt="{{item.name}}" style="width:100%">
    </div>
  <div style="text-align: left;">
    <h2>{{ item.name }}</h2>
    <h3>{{ item.price | currency }}</h3>
  </div>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Nome
    </label>
    <input id="name" style="width: 600px;" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Endereço
    </label>
    <input id="address" style="width: 600px;" type="text" formControlName="address">
  </div>

  <button class="button" style="height: 50px; background-color: #0a9611;" type="submit">Finalizar Compra e Ir para o Pagamento</button>

</form>