<h2>Livros para Venda</h2>

<div class="shipping-item-column" *ngFor="let product of products; index as productId">
    

    <div class="card">
      <img src="{{product.img}}" alt="{{product.name}}" style="width:100%">
      <h2>  <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a></h2>
      <p class="price">{{product.price | currency}}</p>
      <p>{{product.description}}</p>
      <p>
        
        <button (click)="addToCart(product)">
        Adicionar ao carrinho
      </button></p>
    </div> 




  <!-- Event binding ( ) 
   <button (click)="share()">
    Share
  </button>
  -->
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>