<a [routerLink]="['/']">
  <h1>Loja de Livros</h1>
</a>

<a routerLink="/pedidos" style="background-color: #0a9611;" class="button fancy-button"> <i style="background-color: #0a9611; color: white; font-weight: bold;" class="material-icons">Meus Pedidos</i></a>
<a  [routerLink]="['/cart']"  style="background-color: #0a9611;" class="button fancy-button"><img style="width: 50px; " src="../../assets/imgs/checkout.png" alt="Carrinho" /> <i style="background-color: #0a9611; color: white; font-weight: bold;" class="material-icons">Carrinho</i></a> 

